body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/concrete-texture.png");
  padding-bottom: 100px;

}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

/*p:last-child {
  margin-bottom: 0;
}*/

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  line-height: 22px;
  border-bottom: 2px solid #eee;
  font-size: 22px;
}
/*.wrapper{
  max-width: 960px;
  margin: 0 auto;
}
*//* header */

.navbar {
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#logo {
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
  background: #4aaaa5;
}

#nav-link {
  margin-top: 20px;
}

*/
.navbar a {
  /*display: inline-block;*/
  padding-left: 15px;
  /*margin-left: 15px;*/
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}



/* footer */

#footer {
  padding: 30px 0;
  font-size: 12px;
  color: #ccc;
  background: #666;
  border-top: 8px solid #4aaaa5;
  margin-bottom: 0;
}


/* sidebar */

#sidebar {
  float: right;
  /*width: 100%;*/
  max-width: 300px;
  padding: 0 30px 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
#sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  /*line-height: 22px;*/
  border-bottom: 2px solid #eee;
}

#main-section {
  float: left;
  /*max-width: 650px;*/
  padding: 0 30px 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

/* portfolio page */

/*.work {
  position: relative;
  float: left;
  margin: 20px 0 25px;

}*/

.work img {
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

textarea {
  height: 200px;
}

#auth-image {
  float: left;

  margin-top: 10px;
  margin-right: 25px;
}

@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 750px;
  }

  #main-section {
    max-width: 435px;
  }

  #auth-image {
    display: block;
    margin: 0px 15px 10px;
  }

}

@media screen and (max-width: 768px) {
  .wrapper{
    max-width: 630px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #main-section{
    max-width: 100%;
    /*margin-left: auto;*/
  }
  #sidebar {
    max-width: 100%;
  }
 
}
 